{% if reviewed %}
<p class="text-center">You have already reviewed <strong> {{ product.name }}</strong>.</p>
{% else %}
{% if request.user.is_authenticated %}
{% if edit %}
<form method="POST" action="{% url 'edit_review' review.id %}#reviews-section" class="form mb-2">
    {% csrf_token %}
    {{ form | crispy }}
    <div class="text-right">
        <a href="{% url 'product_detail' product.id %}#reviews-section" class="btn btn-orange">Cancel</a>
        <button class="btn btn-blue" type="submit">Update</button>
    </div>
</form>
{% else %}
<form method="POST" action="{% url 'product_detail' product.id %}">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="text-right">
        <button class="btn btn-blue logo-font mb-5" type="submit">Submit Review</button>
    </div>
</form>
{% endif %}
{% else %}
<p class="text-center text-blue">Please <a class="link-normal text-pink" href="{% url 'account_signup' %}">Register</a> or
    <a class="link-normal text-pink" href="{% url 'account_login' %}">Login</a> to leave a review.</p>
{% endif %}
{% endif %}