{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block title %}| Wishlist{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4">My Wishlist</h2>
            <hr>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col">
            {% if wishlist_items %}
            <div class="table-responsive rounded">
                <table class="table table-sm table-borderless">
                    <thead class="text-blue">
                        <tr>
                            <th scope="col">Image</th>
                            <th scope="col" >Name</th>
                            <th scope="col">Price</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>

                    {% for wishlist_item in wishlist_items %}
                    <tr>
                        <td class="p-3 w-25 text-blue">
                            {% if wishlist_item.product.image %}
                            <img class="img-fluid rounded" src="{{ wishlist_item.product.image.url }}"
                                alt="{{ wishlist_item.product.name }}">
                            {% else %}
                            <img class="img-fluid rounded" src="{{ MEDIA_URL }}noimage.png"
                                alt="{{ wishlist_item.product.name }}">
                            {% endif %}
                        </td>
                        <td class="py-3">
                            <p class="my-0 text-pink">{{ wishlist_item.product.name }}</p>
                        </td>
                        <td class="py-3">
                            <p class="my-0 text-pink">€{{ wishlist_item.product.price }}</p>
                        </td>
                        <td class="py-3 w-25">
                            <div class="btn btn-orange logo-font p-0">
                                <a href="{% url 'remove_from_wishlist' wishlist_item.product.id %}"
                                    class="btn btn-orange">Remove</a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}

                </table>
            </div>
            {% else %}

            <p class="lead mb-5">No products in your wishlist</p>
            <a href="{% url 'products' %}" class="btn btn-blue rounded-0 btn-lg mb-5">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span class="text-uppercase">Keep Shopping</span>
            </a>
            {% endif %}
           
        </div>
    </div>
    <div class="pb-4">
        <span><a href="{% url 'account_overview' %}" class="btn logo-font btn-blue"><i
            class="fas fa-chevron-left"></i>Account Overview</a></span>
    </div>
</div>
{% endblock %}