<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font nav-link text-pink mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font nav-link text-pink mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font nav-link text-pink mr-5 " href="#" id="umbrellas-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Umbrellas
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="umbrellas-link">
                <a href="{% url 'products' %}?category=beach_umbrellas" class="dropdown-item">Beach Umbrellas</a>
                <a href="{% url 'products' %}?category=childrens_umbrellas" class="dropdown-item">Childrens Umbrellas</a>
                <a href="{% url 'products' %}?category=foldable_umbrellas" class="dropdown-item">Foldable Umbrellas</a>
                <a href="{% url 'products' %}?category=golf_umbrellas" class="dropdown-item">Golf Umbrellas</a>
                <a href="{% url 'products' %}?category=beach_umbrellas,childrens_umbrellas,golf_umbrellas,foldable_umbrellas" class="dropdown-item">All Umbrellas</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font nav-link text-pink" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">New Arrivals</a>
                <a href="" class="dropdown-item">Clearance</a>
                <a href="" class="dropdown-item">All Specials</a>
            </div>
        </li>

        <!-- <li class="nav-item">
            <a class="logo-font nav-link text-blue mr-5" href="#">
                Contact us
            </a>
        </li> -->
    </ul>
</div>