<!-- MOBILE HEADER FOR SMALLER SCREENS THE NAVBAR TRANSFORMS -->

<div class="mobile-top-header">
    <ul class="list-inline m-0">
        <li class="list-inline-item">
            <a class="nav-link d-block d-lg-none text-blue" href="#" id="mobile-search" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div class="text-center text-blue">
                    <div><i class="fas fa-search fa-lg"></i></div>
                    <p class="my-0">Search</p>
                </div>
            </a>
            <div class="dropdown-menu border-0 w-100 p-3 rounded-0 my-0" aria-labelledby="mobile-search">
                <form class="form" method="GET" action="{% url 'products' %}">
                    <div class="input-group">
                        <input class="form-control border border-blue rounded-0" name="q" placeholder="Search our site" aria-label="Search Input Box">
                            <div class="input-group-append">
                                <button class="form-control btn btn-blue border border-blue rounded-0" type="submit" aria-label="Search Box Button">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </li>
            <li class="list-inline-item dropdown">
                <a class="text-blue nav-link d-block d-lg-none" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div class="text-center text-blue">
                        <div><i class="fas fa-user fa-lg"></i></div>
                        <p class="my-0">My Account</p>
                    </div>
                </a>
                <div class="dropdown-menu border-0">
                    {% if request.user.is_authenticated %}
                        {% if request.user.is_superuser %}
                            <a href="{% url 'admin_panel' %}" class="dropdown-item">Admin panel</a>
                        {% endif %}
                        <a href="{% url 'account_overview' %}" class="dropdown-item">Account overview</a>
                        <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                    {% else %}
                        <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                        <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                    {% endif %}
                </div>
            </li>
            <li class="list-inline-item">
                <a class="{% if grand_total %}text-pink font-weight-bold{% else %}text-blue{% endif %} nav-link d-block d-lg-none" aria-label="View shopping cart"
                href="{% url 'view_bag' %}">
                <div class="text-center">
                    <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                        {% if grand_total %}
                            €{{ grand_total|floatformat:2 }}
                        {% else %}
                            €0.00
                        {% endif %}
                </div>
                </a>
            </li>
        </ul>
    </div>
    
 <!-- MOBILE HEADER FOR SMALLER SCREENS THE NAVBAR TRANSFORMS -->