{% extends "base.html" %}
{% load static %}

{% block title %}| Subscribe to newsletter {% endblock %} 

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container mt-5">
        <div class="row">
            <div class="col-12 col-lg-6">
                <hr>
                <h2 class="logo-font mb-4">Subscribe</h2>
                <hr>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <p>Enter your email address to subscribe to our mailing list.</p>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-blue">Subscribe</button>
    </form>
    <p class="mt-2 btn btn-orange"><a href="{% url 'unsubscribe' %}">Unsubscribe form</a></p>
        </div>
    
    
</div>

{% endblock %}