{% extends "base.html" %}
{% load static %}

{% block title %} | Error 500 {% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4">Error 500 </h2>
            <hr>
        </div>
    </div>

    <div>
        <div class="col pb-4">
            <h3>Error 500 - Internal Server Error</h3>
            <p>Sorry, the site is experiencing some technical difficulties. We are working to resolve them.</p>
            <a href="{% url 'home' %}" class="btn btn-orange w-25">Home</a>
        </div>
    </div>    
</div>
{% endblock %}