<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us Email</title>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500&family=Pangolin&display=swap">
    </style>
</head>

<body>

    <div style="margin: 3rem 0; padding: 1rem;">
        <p style="text-align: center;"><a href="https://drizzleandshade-4e77ed93aac5.herokuapp.com/" target="_blank"
                style="color: #b2218d; font-size: 2rem; max-width: fit-content; padding: .1rem .3rem; text-transform: uppercase; text-decoration: none; text-align: center;"><strong
                    class="font-weight-bold text-pink logo"><i class="fa-solid fa-umbrella" style="color: #072446;"></i> Drizzle & Shade</strong>
            </a></p>
        <h1 style="margin: 2rem 0; text-align: center; color: #072446">Thank you for contacting us!</h1>
        <hr>
        <p style="margin-top: 1rem; color: #072446;">We appreciate you getting in touch with us at <strong style="color: #b2218d;">Drizzle and Shade</strong>.
            We value your comments and questions. We promise to get back to you as soon as possible and are here to help you with anything you need along the road.
        </p>
        <p style="margin-top: 1rem; color: #072446;">Your ideas and comments are important to us at <strong style="color: #b2218d;">Drizzle and Shade.</strong>
            Your comments enable us to improve our offerings so that they better satisfy your needs. We are here to listen and offer you the best support, 
            whether you have inquiries about our wide choice of products, need help placing an order, or simply want to share your experiences.</p>
            <p style="margin-top: 1rem; color: #072446;">Rest assured that your inquiry is important to us, and we will do everything we
            can to address it
            efficiently and effectively. We take pride in delivering excellent customer service, and your satisfaction
            is
            our top priority.</p>
        <p style="text-align: center;"><a href="#" target="_blank"
                style=" font-size: 1.2rem; background-color: #072446; color: #ff9d5c; text-transform: uppercase; text-decoration: none; padding: .3rem 1rem;">Follow
                us on Facebook!</a>
        </p>
    </div>
</body>

</html>