{% extends "base.html" %}
{% load static %}

{% block extra_title %} | Contact Us{% endblock %}

{% block extra_css %}
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col-12"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- Contact -->
<section class="contact">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8 mx-auto">
                <hr>
                <h1 class="text-blue">Contact Us</h1>
                <hr>
                <p class="text-blue">At <strong class="font-weight-bold text-pink logo">Drizzle & Shade</strong>, we
                    respect your comments and questions,
                    and our committed staff are here to help. We would love to hear from you if you have any inquiries
                    regarding our products,
                    need help with an order, or just have some feedback.</p>
            </div>
            <div class="col-12 col-md-8 mx-auto mb-5">
                <div class="prod-form">
                    <form method="POST" action="{% url 'contact' %}" enctype="multipart/form-data" class="mb-2 prod-form">
                        {% csrf_token %}
                        {{form|crispy}}
                        <div>
                            <a class="btn btn-orange rounded-2" href="{% url 'home' %}">Cancel</a>
                            <button class="btn btn-blue rounded-2" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}