{% extends "base.html" %}
{% load static %}

{% block title %}Edit category{% endblock %} 

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
                <div class="col">
                    <hr>
                    <h2 class="logo-font mb-4">Category Managment</h2>
                    <hr>
                </div>

        </div>

        <div class="row">
            <div class="col-12 col-md-6">
                <h3 class="text-pink">Edit a Category</h3>
                <form method="POST" action="{% url 'edit_category' category.id %}" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy}}
                    <div class="text-right">
                        <a class="btn btn-orange rounded-2" href="{% url 'add_category' %}">Cancel</a>
                        <button class="btn btn-blue rounded-2" type="submit">Save Category</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


{% endblock %}